include _common.pug
+head(title="A Tour of C++")

mixin sidebar_link(id, title)
    a.sidebar__item(id=id href="#"+id)=title

body.layout
    // Page header
    nav.layout__header#header
        a.layout__header__menu="A Tour of C++"
        span="Lesson name"
    div.layout__content
        // Content
        div.main#main
            div.main__content
                h2.content__header="Introduction"
                p.
                    Content
            div.main__separator
            div.main__editor#editor

    // Sidebar
    div.sidebar#sidebar.hidden
        +sidebar_link("Introduction", "Introduction")
        +sidebar_link("0", "Lesson 0: Getting Started")

    +noscript
