html
    box-sizing: border-box

*,
::after,
::before
    margin: 0
    box-sizing: inherit

body
    font-size: 20px
    font-family: Times New Roman, Times, serif
    color: #777

.hidden
    display: none !important
