#layout,
#menu,
.menu-link
    transition: all 0.2s ease-out

#layout
    position: relative
    left: 0

#layout.active #menu
    left: 250px
    width: 250px

#layout.active .menu-link
    left: 250px

