noscript
    padding: 5%
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 999
    background-color: rgba(0, 0, 0, 0.5)
    text-align: center

    & > section
        display: inline-block
        animation: fly-in 1s
        z-index: 1000
        background-color: #fff
        box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.5)
        border-radius: 0.2rem
        padding: 1rem

