.sidebar
    z-index: 999
    position: fixed
    top: 0
    left: 0
    bottom: 0
    //layout
    display: flex
    flex-direction: column
    color: white
    background: #202020
    transition: all 0.2s ease-out

    //responsive width for sidebar according to screen width
    width: 15vw
    min-width: 7em

.sidebar__item
    color: inherit
    padding: .25em
    text-decoration: none

    &:hover
        background: #444

    &.active
        background: teal

